.none {
  display: none;
}

.faded{
  opacity: 0;
  pointer-events: none;
}


.dontTouch {
  pointer-events: none;
}
.animate__bounceOut {
  --animate-duration: 2s;
}
h3 {
  color: #fff;
  font-size: 0%;
  position: relative;
  margin: 1px;
  padding: -1px;
}
.img-responsive {
  display: block;
}

.drop-zone {
  height: 25rem;
  width: 25rem;
  background-color: rgba(33, 184, 151, 0.322);
  border: 6px solid springgreen ;
  border-radius: 50%;
  display: inline-block;
}



[data-role='drag-drop-target'] {
  float: left;
  width: 500px;
  height: 376px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 4px;
}

.over {
  background-color: #ffc;
}

[draggable='true'] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.drag {
  opacity: 0.25;
}
/* body {
  background-color: black;
}

#gameon {
  text-align: center;
}

.night-hotel {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  border: none;
  font: normal 60px/1 "Monoton", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.night-hotel:hover {
  text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}

.night-hotel:active {
  text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
}






.card-board {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 0.3;
  border: none;
  font: normal 80px/normal "Black Ops One", Helvetica, sans-serif;
  color: rgba(25,13,0,0.92);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgb(0,0,0) ;
} */
