.none {
  display: none;
}

.faded{
  opacity: 0;
  pointer-events: none;
}


.dontTouch {
  pointer-events: none;
}
.animate__bounceOut {
  --animate-duration: 2s;
}

animate__bounceInDown {
  --animate-duration: 2s;

}

.red-text {
  font-size: 25px;
  background-color: orange;
  border: 2px solid red;
}
h3 {
  color: #fff;
  font-size: 0%;
  position: relative;
  margin: 1px;
  padding: -1px;
}

.img-responsive {
  display: block;
}

.drop-zone {
  height: 25rem;
  width: 25rem;
  background-color: rgba(33, 184, 151, 0.322);
  border: 6px solid springgreen ;
  border-radius: 50%;
  display: inline-block;
}

.drop-zone p {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 10px;
}


[data-role='drag-drop-target'] {
  float: left;
  width: 500px;
  height: 376px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 4px;
}

[draggable='true'] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.drag {
  opacity: 0.25;
}